# Admin identifier
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=enter-your-super-secret-key-first-change-this

# PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password

# PostgreSQL (for container)
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_DB=db_name

# Admin identifier (never share this .env)
# ADMIN_EMAIL=admin@admin.com

# Mail
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=admin@gmail.com
MAIL_PASSWORD=randomkeygeneratedbygoogle
MAIL_DEFAULT_SENDER=Finvestigate <admin@gmail.com>